.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 55px 30px;
}

.courses-wrapper  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__switcher {
        margin: 20px 0;
    }
}

.courses-header  {
    & > h2 {
        text-align: center;
        margin: 0 0 25px;
        font-size: 36px;
        font-weight: 400;
    }
}