.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 55px 30px;
}

.courses-wrapper  {
    & > h2 {
        text-align: center;
        margin: 25px 0;
        font-size: 36px;
        font-weight: 400;
    }

    &__switcher {
        margin: 20px 0;
    }
}